apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.postgres.name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.postgres.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.postgres.name }}
    spec:
      containers:
        - name: postgres
          image: {{ .Values.postgres.image }}
          ports:
            - containerPort: 5432

          env:
            - name: POSTGRES_DB
              value: {{ .Values.config.DB_NAME | quote }}

            - name: POSTGRES_USER
              value: {{ .Values.config.DB_USER | quote }}

            - name: POSTGRES_PASSWORD
              value: {{ .Values.secret.DB_PASSWORD | quote }}

          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data

      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc

